<html>
<head>
    <h3>Categories Page</h3>
</head>
<body>
    <ul>
        <li>
            <a href=Categories/Edit/1>Software section</a>
        </li>
         <li>
            <a href=Categories/Edit/2>Support section</a>
        </li>
    </ul>
</body>
</html>